@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    
    grid-template-areas: 
        "header header header header header"
        "sidebar main main main main";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

header {
    grid-area: header;
    
}

.imagens-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    gap: 32px;

    height: 56px;
    left: 0px;
    top: 0px;
}

nav {
    grid-area: sidebar;
}

.imagens-sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 22px;

    width: 218px;
    height: 968px;
    left: 0px;
    top: 56px;

}

main {
    grid-area: main;
}

.imagens-main {
    max-width: 1440px;
    height: 1024px;

}