@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    display: grid;

    grid-template: 
    "header header header header header" 1fr
    "nav main main main main" 1fr;
}

header {
    background-color: lightskyblue;
    grid-area: header;
}

nav {
    background-color: lightcoral;
    grid-area: nav;
}

main {
    background-color: lightgreen;
    grid-area: main;
}